<div class="hero-wrap hero-bread" style="background-image: url('../../../../assets/images/bg_1.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span></span></p>
        <h1 class="mb-0 bread">My Cart</h1>
      </div>
    </div>
  </div>
</div>


<section *ngIf="!isLoading" class="ftco-section ftco-cart" >
  <div class="container">
    <div class="row">
      <div class="col-md-12 ftco-animate">
        <div class="alert alert-info" *ngIf="cartObj === null">No Items Added</div>
        <div class="cart-list" *ngIf="cartObj !== null">
          <table class="table">
            <thead class="thead-primary">
              <tr class="text-center">
                <th>Remove</th>
                <th>S/N</th>
                <th>Image</th>
                <th>Product name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr class="text-center" *ngFor="let item of cartItems; let ndx = index">
                <app-cart-item [cartItem]="item" ></app-cart-item>
              </tr> -->


              <tr class="text-center" *ngFor="let item of cartObj; let ndx = index" >
                <td class="product-remove"><a (click)="removeProductFromCart(item.productId)"><span class="ion-ios-close"></span></a></td>
                <td>{{ndx+1}}</td>
                <td class="image-prod" >
                  <!-- <div class="img" > -->
                    <img class="post-image" [src]="item.imagePath">
                  <!-- </div> -->
                </td>

                <td class="product-name">
                  <h3>{{item.productName}}</h3>
                </td>

                <td class="price">{{item.price | currency: 'USD'}}</td>

                <td class="quantity">
                  {{item.qty}}
                </td>

                <td class="total">{{item.total | currency: 'USD'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <!-- <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
        <div class="cart-total mb-3">
          <h3>Coupon Code</h3>
          <p>Enter your coupon code if you have one</p>
          <form action="#" class="info">
            <div class="form-group">
              <label for="">Coupon code</label>
              <input type="text" class="form-control text-left px-3" placeholder="">
            </div>
          </form>
        </div>
        <p><a href="checkout.html" class="btn btn-primary py-3 px-4">Apply Coupon</a></p>
      </div> -->
      <!-- <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
        <div class="cart-total mb-3">
          <h3>Estimate shipping and tax</h3>
          <p>Enter your destination to get a shipping estimate</p>
          <form action="#" class="info">
            <div class="form-group">
              <label for="">Country</label>
              <input type="text" class="form-control text-left px-3" placeholder="">
            </div>
            <div class="form-group">
              <label for="country">State/Province</label>
              <input type="text" class="form-control text-left px-3" placeholder="">
            </div>
            <div class="form-group">
              <label for="country">Zip/Postal Code</label>
              <input type="text" class="form-control text-left px-3" placeholder="">
            </div>
          </form>
        </div>
        <p><a href="checkout.html" class="btn btn-primary py-3 px-4">Estimate</a></p>
      </div> -->
      <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
        <div class="cart-total mb-3">
          <h3>Cart Totals</h3>
          <p class="d-flex">
            <span>Subtotal</span>
            <span>{{cartTotal | currency: 'USD'}}</span>
          </p>
          <p class="d-flex">
            <span>Delivery</span>
            <span>$0.00</span>
          </p>
          <p class="d-flex">
            <span>Discount</span>
            <span>$0.00</span>
          </p>
          <hr>
          <p class="d-flex total-price">
            <span>Total</span>
            <span>{{cartTotal | currency: 'USD'}}</span>
          </p>
        </div>
        <p><a (click)="proceedToCheckout()" *ngIf="cartObj !== null" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
        <!-- <p><a (click)="createOrder()" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p> -->
      </div>
    </div>
  </div>
</section>
<!-- loader -->
<div *ngIf="isLoading" id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
  <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
  <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
  </svg></div>

