<section class="custom-carousel">
  <div class="col-sm-12 ftco-animate text-center text-white">
    <h1 class="mb-2 text-white new-font">100% Fresh &amp; Organic Foods</h1>
    <h2 class="subheading mb-4 text-white font-2">We deliver organic vegetables &amp; fruits</h2>
    <!-- <p><a href="#" class="btn btn-primary text-white">View Details</a></p> -->
  </div>
</section>
<section class="ftco-section">
  <div class="container">
    <div class="row no-gutters ftco-services">
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-shipped"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Free Shipping</h3>
            <span>On order over $100</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-diet"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Always Fresh</h3>
            <span>Product well package</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-award"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Superior Quality</h3>
            <span>Quality Products</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-customer-service"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Support</h3>
            <span>24/7 Support</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-3 pb-3">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <span class="subheading">Featured Products</span>
        <h2 class="mb-4">Our Products</h2>
        <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p> -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 ftco-animate" *ngFor="let product of products; let ndx = index">
        <app-home-products [productItem]="product"></app-home-products>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section img" style="background-image: url(../../../assets/images/bg_3.jpg);">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6 heading-section ftco-animate deal-of-the-day ftco-animate">
        <span class="subheading">Best Price For You</span>
        <h2 class="mb-4">Deal of the day</h2>
        <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p> -->
        <h3><a href="#">Spinach</a></h3>
        <span class="price">$10 <a href="#">now $5 only</a></span>
        <div id="timer" class="d-flex mt-5">
          <div class="time" id="days"></div>
          <div class="time pl-3" id="hours"></div>
          <div class="time pl-3" id="minutes"></div>
          <div class="time pl-3" id="seconds"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <span class="subheading">Testimony</span>
        <h2 class="mb-4">Our satisfied customer says</h2>
        <!-- <p>Great Service! </p> -->
      </div>
      <div class="testimony-wrap p-4 pb-5">
        <div class="user-img mb-5" style="background-image: url(../../../assets/images/woman.jpg)">
          <span class="quote d-flex align-items-center justify-content-center">
            <i class="icon-quote-left"></i>
          </span>
        </div>
        <div class="text text-center">
          <p class="mb-5 pl-4 line">Top Notch Service, Quality food at great price and fast delivery.</p>
          <p class="name">Mary Smith</p>
          <!-- <span class="position">Marketing Manager</span> -->
        </div>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel">
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url(../../../assets/images/person_1.jpg)">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and
                  Consonantia, there live the blind texts.</p>
                <p class="name">Garreth Smith</p>
                <span class="position">Marketing Manager</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url(../../../assets/images/person_2.jpg)">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and
                  Consonantia, there live the blind texts.</p>
                <p class="name">Garreth Smith</p>
                <span class="position">Interface Designer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url(../../../assets/images/person_3.jpg)">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and
                  Consonantia, there live the blind texts.</p>
                <p class="name">Garreth Smith</p>
                <span class="position">UI Designer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url(../../../assets/images/person_1.jpg)">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and
                  Consonantia, there live the blind texts.</p>
                <p class="name">Garreth Smith</p>
                <span class="position">Web Developer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url(../../../assets/images/person_1.jpg)">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and
                  Consonantia, there live the blind texts.</p>
                <p class="name">Garreth Smith</p>
                <span class="position">System Analyst</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr>

<section class="ftco-section ftco-partner">
  <div class="container">
    <div class="row justify-content-center mb-3 pb-3">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <span class="subheading">Meet the Team</span>
         <h2 class="mb-4">The Team</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-sm ftco-animate">
        <div>
          <a class="partner"><img src="https://ca.slack-edge.com/TJ83SA0BW-UJAQLU2EA-c705ae478e69-512" class="img-fluid" alt="team memeber"></a>
        </div>
        <div class="p-2 text text-center">
          <p class="name"><strong>Ada Nduka Oyom</strong></p>
          <span class="position">SCA Founder</span>
        </div>
      </div>
      <div class="col-sm ftco-animate">
        <div>
          <a  class="partner"><img src="https://ca.slack-edge.com/TJ83SA0BW-U013SBXKUEL-06bec6c453c9-512" class="img-fluid" alt="team member"></a>
        </div>
        <div class="p-2 text text-center">
          <p class="name"><strong>Idris Olubisi</strong></p>
          <span class="position">SCA Mentor</span>
        </div>
      </div>
      <div class="col-sm ftco-animate">
        <div>
          <a class="partner"><img src="https://ca.slack-edge.com/TJ83SA0BW-U0124KVJUT1-0ee0a5d3ffed-512" class="img-fluid" alt="team member"></a>
        </div>
        <div class="p-2 text text-center">
          <p class="name"><strong>Oremei Akande</strong> </p>
          <span class="position">Developer</span>
        </div>
      </div>
      <div class="col-sm ftco-animate">
        <div>
          <a class="partner"><img src="https://ca.slack-edge.com/TJ83SA0BW-U012Y8J61SP-dd6a56b725ba-512" class="img-fluid" alt="team member"></a>
        </div>
        <div class="p-2 text text-center">
          <p class="name"><strong>Omolola Omolambe</strong></p>
          <span class="position">Developer</span>
        </div>
      </div>
    </div>
  </div>

</section>


<hr>
