<div class="hero-wrap hero-bread" style="background-image: url('../../../../assets/images/bg_1.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs"><span class="mr-2"><a [routerLink]="['/']">Home</a></span> <span></span></p>
        <h1 class="mb-0 bread">Sign Up</h1>
      </div>
    </div>
  </div>
</div>

<section *ngIf="!isLoading" class="ftco-section contact-section bg-light">
  <div class="container">
        <div class="row block-9">
      <div class="col-md-6 order-md-last d-flex">
        <form (submit)="onSignup(signupForm)" #signupForm="ngForm" class="bg-white p-5 contact-form">
          <div class="form-group">
            <input type="text" ngModel #firstNameInput="ngModel" required="required" class="form-control"
              placeholder="Your First Name" name="firstName">
          </div>
          <div class="form-group">
            <input type="text" ngModel #lastNameInput="ngModel" required="required" class="form-control"
              placeholder="Your Last Name" name="lastName">
          </div>
          <div class="form-group">
            <input type="email" ngModel name="email" #emailInput="ngModel" class="form-control" placeholder="Your Email"
              required="required">
          </div>
          <div class="form-group">
            <input type="password" name="password" ngModel #passwordInput="ngModel" class="form-control"
              placeholder="Password" required="required">
          </div>
          <div class="form-group">
            <input type="password" name="passwordConfirm" ngModel #passwordConfirmInput="ngModel" class="form-control"
              placeholder="Confirm Password" required="required">
          </div>
          <div class="form-group text-center">
            <input type="submit" value="Register" class="btn btn-primary py-3 px-5">
          </div>
        </form>

      </div>

      <div class="col-md-6 d-flex">
        <div id="map" class="bg-white">
          <div class="col-md-3 d-flex">
            <div class="info bg-white p-4">
              <!-- <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p> -->
            </div>
          </div>
          <div class="text-center"><h5>Already have an account?</h5>

            <!-- <a [routerLink]="['/login']"> Login</a> -->
          </div>
          <div class="form-group text-center">
            <input type="submit" [routerLink]="['/login']" value="Login" class="btn btn-primary py-3 px-5">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- loader -->
<div *ngIf="isLoading"  id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
