<div class="hero-wrap hero-bread" style="background-image: url('../../../../assets/images/bg_1.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a>
        </span> <span>Update Order</span>
      </p>
      </div>
    </div>
  </div>
</div>

<section *ngIf="!isLoading" class="ftco-section contact-section bg-light">
  <div class="container">
    <div class="row block-9 justify-content-center">
      <div class="mb-5 col-md-6 order-md-last d-flex">
        <form [formGroup] ="form" (submit)="onUpdateOrder()" class="bg-white p-5 contact-form">
          <h3  class="text-center">Update Order</h3>
          <div class="form-group">
            <label for="status" class="control-label">Order Status</label>
            <select class="form-control" ui-select2 (change)="changeStatus($event)" formControlName="status">
              <option value="" disabled>Choose your Status</option>
              <option *ngFor="let status of Status" [ngValue]="status">{{status}}</option>
            </select>
          </div>
          <div class="form-group text-center">
            <input type="submit" value="Update Order" class="btn btn-primary py-3 px-5">
          </div>
        </form>

      </div>
    </div>
  </div>
</section>

<!-- loader -->
<div *ngIf="isLoading"  id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
